.fadeIn {
    animation: fadeInAnimation 1s ease 1 normal forwards;
}
@keyframes fadeInAnimation {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

.growIn {
    animation: growInAnimation 1s ease 1 normal forwards;
}
@keyframes growInAnimation {
    from {
        transform: scale(0);
        visibility: hidden;
    }
    to {
        transform: scale(1);
        visibility: visible;
    }
}